<body class="product-container d-flex wrap w-100" style="height: 900px;">
    <div class="img-container w-100 d-flex justify-content-center align-items-center flex-column" style="height: 100%; background-color: #e1e1e1; ">
        <div class="" style="margin-top: 6rem; margin-bottom: 3rem;">
            <img class="shadow-3 rounded-3" src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3034a1dd18b84145aacdadf30029d177_9366/POSTMOVE_SE_Blanco_GZ4060_01_standard.jpg" alt="">
        </div>
        <div class="d-flex mini-img w-100 justify-content-between">
            <img class="mini1 shadow-3 rounded-3" src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/024e35152f7d412ca438adf3002a29bd_9366/POSTMOVE_SE_Blanco_GZ4060_02_standard_hover.jpg" alt="" style="height: 100px; margin-left: 7rem;">
            <img class="mini2 shadow-3 rounded-3" src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/5724076e0d394a46ba68adf30027b7d0_9366/POSTMOVE_SE_Blanco_GZ4060_03_standard.jpg" alt="" style="height: 100px; ">
            <img class="mini3 shadow-3 rounded-3" src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3f9227163fdd40dc9a8badf30027df8b_9366/POSTMOVE_SE_Blanco_GZ4060_41_detail.jpg" alt="" style="height: 100px; margin-right: 7rem;">        
        </div>
    </div>
    <div class="text-container w-100 d-flex  flex-column " style="height: 100%; background-color: #f41823; ">
        <h1 class="m-5 text-light" style="margin-top: 6rem;">Adidas Postomove SE</h1>
        <h3 class="my-1 mx-5 text-light">Adidas Sportwear para damas, excelente calidad. Orignales</h3>
        <h3 class="my-1 mx-5 fs-1 text-light">329000$</h3>
        <!-- stars -->
        <div class="stars-container height-50 container d-flex mx-4 my-4 align-items-start">
            <div class="card p-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> </div>
                    <h5 class="review-count">12 Reviews</h5>
                </div>
                <div class="mt-5 d-flex justify-content-between align-items-center">
                    <h5 class="review-stat">Cleanliness</h5>
                    <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                </div>
                <div class="mt-1 d-flex justify-content-between align-items-center">
                    <h5 class="review-stat">Approachability of SLT</h5>
                    <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> </div>
                </div>
                <div class="mt-1 d-flex justify-content-between align-items-center">
                    <h5 class="review-stat">Front Office</h5>
                    <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                </div>
                <div class="mt-1 d-flex justify-content-between align-items-center">
                    <h5 class="review-stat">CPD</h5>
                    <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> </div>
                </div>
                <div class="mt-1 d-flex justify-content-between align-items-center">
                    <h5 class="review-stat">Pastrol</h5>
                    <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                </div>
                <div class="mt-1 d-flex justify-content-between align-items-center">
                    <h5 class="review-stat">Office Space</h5>
                    <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                </div>
            </div>
        </div>
        <!-- stars -->
        <div class="btn-container d-flex my-5" style="gap: 1rem; margin: 3rem;">
            <button type="button" class="btn btn-dark ">Comprar</button>
            <button type="button" class="btn btn-dark ">añadir al carrito</button>
        </div>
    </div>
</body>
