<body class="fondo">
    <div class="base d-flex">
      <div class="subfondo p-5">
        <h1 class="contactanos">¡SUSCRIBETE A NUESTRO NEWSLETTER!</h1>
        <h3 class="contactanos">Ingresa tus datos</h3>
        <!--INPUTS-->
        <div class="card form-container my-5">
            <form class="p-5">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                        <input type="text" id="form12" class="form-control" />
                        <label class="form-label" for="form12">Example label</label>
                      </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form6Example2" class="form-control" />
                      <label class="form-label" for="form6Example2">Last name</label>
                    </div>
                  </div>
                </div>
              
                <!-- Text input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form6Example3" class="form-control" />
                  <label class="form-label" for="form6Example3">Company name</label>
                </div>
              
                <!-- Text input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form6Example4" class="form-control" />
                  <label class="form-label" for="form6Example4">Address</label>
                </div>
              
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form6Example5" class="form-control" />
                  <label class="form-label" for="form6Example5">Email</label>
                </div>
              
                <!-- Number input -->
                <div class="form-outline mb-4">
                  <input type="number" id="form6Example6" class="form-control" />
                  <label class="form-label" for="form6Example6">Phone</label>
                </div>
              
                <!-- Message input -->
                <div class="form-outline mb-4">
                  <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                  <label class="form-label" for="form6Example7">Additional information</label>
                </div>
              
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2 bg-danger border-black" type="checkbox" value="" id="form6Example8" checked />
                  <label class="form-check-label" for="form6Example8"> Enviar contacto a tu correo eléctronico </label>
                </div>
              
                <!-- Submit button -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-block mb-4">Enviar</button>
                </div>
              </form>
        </div>
        <!--INPUTS-->
        <!--FINAL-->
        <div class="text-center my-5">
            <h2 class="">A través de nuestra newsletter y boletín de noticias te mantendremos informado a diario de todas nuestras novedades y las noticias más importantes.</h2>
        </div>
      </div>
        <!--FINAL-->
    </div>
